/*
	CONTEXT:

	I normally use loads of selectors to be as specific as possible without using a large amount of classes and id's. With this assignment I've tried to go out of my comfort zone and use as few selectors as possible.

	That's all! I hope you like my 'MSMD' work :)
*/

@import url('https://fonts.googleapis.com/css?family=Quicksand:700');

* {
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: 'Quicksand';
}

body {
	background-color: #C9E8FD;
}

.wrapper {
	margin: 10vh 10vw;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 40px -9px rgba(0,0,0,0.2);
}

.navigation, .footer {
	padding: 0 15%;
}

.navigation {
	/* display: grid; */
	/* grid-template-columns: auto auto auto auto auto auto; */
	box-shadow: 1px 3px 22px -8px rgba(0,0,0,0.2);
	height: 74px;
	align-items: center;
	overflow: hidden;
	grid-column-start: 2;
}

.navigation__logo {
	transform: scale(1.4);
	margin-right: auto;
}

.navigation__link-wrapper {
	display: inline-grid;
	grid-gap: 30px;
}

.navigation__link, .navigation__button {
	color: #6C6C6C;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	grid-gap: 10px;
	white-space: nowrap;
	text-align: center;
}

.navigation__button {
	color: #32B8FB;
	padding: 8px 25px;
	border: 2px solid #32B8FB;
	border-radius: 22px;
	transition: 0.2s;
}


.navigation__button:hover {
	background-color: #32B8FB;
	color: white;
	transition: 0.2s;
}

.landing {
	margin-top: 2vh;
	padding: 12vh 23%;
	display: grid;
	grid-template-rows: auto auto auto;
	text-align: center;
}

.landing__questions {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,0.5);
	word-spacing: 4px;
}

.landing__title {
	color: #32B8FB;
	font-size: 3em;
	padding-bottom: 10px;
	text-align: center;
}

.landing__intro {
	text-align: center;
	font-weight: bold;
	color: rgba(0,0,0,0.6);
	line-height: 1.4;
}

.content__box-title, .content__box-options__option-title {
	color: #32B8FB;
}

.content__box-title {
	font-size: 1.6em;
	text-align: center;
	margin: 1.6em 0;
}

.content__box-device, .content__box-scope, .content__box-estimate {
	width: 80%;
	margin: 1.6vh auto;
}

.content__box-title, .content__box-options {
}

.content__box-options {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 20px;
	text-align: center;
}

.content__box-options__option-title {
	text-transform: uppercase;
	font-size: 16px;
}

.content__box-options__option {
	position: relative;
	cursor: pointer;
	border-radius: 8px;
	box-shadow: 0px 0px 20px -4px #32b8fb61;
	padding: 2vw;
}

.content__box-options__option-checkbox {
	position: absolute;
	top: 20px;
	right: 20px;
	border: 1px solid #32B8FB;
	height: 18px;
	width: 18px;
	border-radius: 3px;
}

.content__box-options__option-title, .content__box-options__option-image {
	align-self: center;
}

.content__box-options__option-image {
	padding: 3vw 0;
}

.content__box-estimate__form {
	width: 50%;
	align-self: center;
	display: grid;
	margin: 0 auto;
}

.content__box-estimate__form-label {
	color: rgba(0,0,0,0.6);
	padding-left: 10px;
}

.content__box-estimate__form-input, .content__box_estimate__form-textarea {
	border: 0;
	border-bottom: 2px solid rgba(0,0,0,0.6);
	padding: 5px 0;
	font-size: 14px;
	margin-bottom: 30px;
	margin-top: 5px;
	border-bottom: 2px solid rgba(0,0,0,0.6);
	background-color: rgba(0,0,0,0);
}

.content__box_estimate__form-textarea {
	resize: none;
}

.content__box-estimate__form-input:focus,
.content__box_estimate__form-textarea:focus {
	color: #32B8FB;
	border-bottom: 2px solid #32B8FB;
}

.content__box-estimate__form-submit {
	align-self: center;
	background-color: #32B8FB;
	border: none;
	height: 3em;
	width: 100%;
	max-width: 15em;
	font-size: 0.85em;
	color: white;
	border-radius: 2em;
	display: inline-block;
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.15);
	margin: 0 auto 8vh auto;
	cursor: pointer;
}

.footer {
	display: grid;
	background-color: #FAFAFA;
	height: 48px;
	padding: 0 20%;
	grid-template-columns: auto auto auto auto auto;
}

.footer__logo {
	height: 18px;
	align-self: center;
	margin: 0 auto;
}
